{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %} {% endblock title %}</title>
  </head>
  <body class="h-full">
    <div class="max-h-screen bg-gray-100 overflow-y-auto">
      <div class="min-h-full">
        {% include '_header.html' %}

        <div class="py-10">
          <div
            class="body max-w-3xl mx-auto sm:px-6 lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-12 lg:gap-8"
          >
            <div class="hidden lg:block lg:col-span-3 xl:col-span-2">
              {% block left_section %}
                <!-- {% include '_laside.html' %} -->
              {% endblock left_section %}
            </div>

            <main class="lg:col-span-9 xl:col-span-6">
              {% block content %} {% endblock content %}
            </main>

            <aside class="hidden xl:block xl:col-span-4">
              <div class="sticky top-4 space-y-4">
                {% block right_section %}
                  
                {% endblock right_section %}
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>

    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" integrity="sha512-CryKbMe7sjSCDPl18jtJI5DR5jtkUWxPXWaLCst6QjH8wxDexfRJic2WRmRXmstr2Y8SxDDWuBO6CQC6IE4KTA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      const csrftoken = Cookies.get('csrftoken');
      document.addEventListener('DOMContentLoaded', function(e){

            // DOM loaded
            {% block domready %}
            
            {% endblock domready %}
      });
    </script>
    
    {% block extra_js %}
      
    {% endblock extra_js %}
  </body>
</html>
